.pr-4 {
  padding-right: 1rem;
}
.pl-5 {
  padding-left: 1.25rem;
}
.p-2 {
  padding: 0.5rem;
}
.text-yellow-500 {
  --tw-text-opacity: 1;
  color: rgb(234 179 8 / var(--tw-text-opacity));
}
.justify-between {
  justify-content: space-between;
}
.items-center {
  align-items: center;
}
.flex-wrap {
  flex-wrap: wrap;
}
.flex {
  display: flex;
}
.font-bold {
  font-weight: 700;
}
.text-3xl {
  font-size: 1.875rem;
  line-height: 2.25rem;
}

.top-icon svg {
  padding: 10px;
}
.text-2xl {
  font-size: 1.5rem;
  line-height: 2rem;
}

.text-white {
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity));
}
.p-1 {
  padding: 0.25rem;
}
.bg-red-600 {
  --tw-bg-opacity: 1;
  background-color: rgb(220 38 38 / var(--tw-bg-opacity));
}
.rounded-full {
  border-radius: 9999px;
}
/* .-top-1 {
  top: -0.25rem;
} */
.-right-2 {
  right: -0rem;
}
.absolute {
  position: absolute;
}
/* .top-icon svg {
  padding: 10px;
} */

.uppercase {
  text-transform: uppercase;
}
.font-semibold {
  font-weight: 600;
}

svg:not(:root).svg-inline--fa, svg:not(:host).svg-inline--fa {
  overflow: visible;
  box-sizing: content-box;
}
.text-black {
  --tw-text-opacity: 1;
  color: rgb(0 0 0 / var(--tw-text-opacity));
}
.font-bold {
  font-weight: 700;
}
.p-2 {
  padding: 0.5rem;
}
.bg-white {
  --tw-bg-opacity: 1;
  background-color: rgb(255 255 255 / var(--tw-bg-opacity));
}
.size-8 {
  width: 2rem;
  height: 2rem;
}
.top-64 {
  top: 24rem;
}
.right-2 {
  right: 0.5rem;
}
.left-4 {
  left: 0.5rem;
}
.hover\:bg-red-600:hover {
  --tw-bg-opacity: 1;
  background-color: rgb(220 38 38 / var(--tw-bg-opacity));
}
.hover\:text-white:hover {
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity));
}

.duration-300 {
  transition-duration: 300ms;
}
.transition-all {
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
}
.p-12 {
  padding: 3rem;
}
.bg-gray-100 {
  --tw-bg-opacity: 1;
  background-color: rgb(243 244 246 / var(--tw-bg-opacity));
}
/* element.style {
  width: 100%;
  display: inline-block;
} */
